<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gen ui</title>
<meta name="referrer" content="origin" />
</head>

<body>
<script type='text/javascript'>
	function initEmbeddedMessaging() {
		try {
			agentforce_messaging.settings.language = 'en';
            agentforce_messaging.settings.devMode = true; 
			agentforce_messaging.init(
				'00Dxx00iUepWLv2',
				'MIWAW',
				'https://orgfarm-22c58a4008.my.site-com.quupvhyylzdl1u31ike9uty2e1qmv.wa.crm.dev:6101/ESWMIWAW1756931429034',
				{
					scrt2URL: 'http://orgfarm-22c58a4008.my.salesforce-scrt-com.quupvhyylzdl1u31ike9uty2e1qmv.wa.crm.dev'
				}
			);
		} catch (err) {
			console.error('Error loading Embedded Messaging: ', err);
		}
	};
</script>
<script type='text/javascript' src='https://orgfarm-22c58a4008.my.site-com.quupvhyylzdl1u31ike9uty2e1qmv.wa.crm.dev:6101/ESWMIWAW1756931429034/assets/js/init.js' onload='initEmbeddedMessaging()'></script>
</body>
</html>
